.hide-self-button {
  font-size: 20px;
  font-weight: bold;
  border: 2px solid #da6b22;
}

.hide-self-button:active {
  background-color: #59d33b;
}

body {
  padding-top: 50px;
  padding-left: 50px;
}
